name: Tumor MRI MLOps Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run-aml-pipeline-and-deploy:
    runs-on: ubuntu-latest

    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install azure-ai-ml azure-identity joblib pandas numpy scikit-learn pillow

      - name: Login to Az 
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Run Az ML training pipeline
        run: python src/pipeline_job.py

      - name: Deploy latest model to endpoint
        run: python scripts/deploy_endpoint.py